docker==6.1.3
graphviz==0.20.1
importlib-metadata==6.8.0
ipykernel==6.16.0
ipython==8.5.0
matplotlib==3.7.4
numpy==1.24.1
opencv-python==4.8.0.76
pandas==2.1.0
Pillow==9.3.0
pytorch-lightning==2.0.9
tensorboard==2.15.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
torch==2.0.1+cu118
torch-tools==0.1.5
torchaudio==2.0.2+cu118
torcheval==0.0.7
torchmetrics==1.1.2
torchtools @ git+https://github.com/pabloppp/pytorch-tools@c99c4c1779b66429044cc686fc94c659bc5f5dee
torchvision==0.15.2+cu118
torchviz==0.0.2
tqdm==4.66.1
transformers==4.33.2
